@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Raleway:wght@400;700&display=swap");
.attribution {
  font-size: 11px;
  text-align: center;
  justify-self: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

.contact {
  display: grid;
  grid-template-columns: 3em 1fr;
  align-items: center;
}
.contact img {
  align-self: flex-start;
  padding: 0.5em 0;
  width: -moz-fit-content;
  width: fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.button-container {
  border: none;
  border-radius: 9999px;
  min-height: 3.5rem;
  padding: 0 2em;
  position: relative;
  background: linear-gradient(90deg, hsl(176, 68%, 64%), 25%, hsl(198, 60%, 50%));
  color: hsl(0, 0%, 100%);
  font: 400 1em Raleway, sans-serif;
  font-weight: 700;
  cursor: pointer;
  z-index: 1;
}
.button-container > * {
  background: none;
  border: none;
  border-radius: inherit;
  cursor: inherit;
  color: inherit;
  width: 100%;
  height: 100%;
}
.button-container:hover::before {
  opacity: 1;
}
.button-container::before {
  position: absolute;
  content: "";
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: inherit;
  background: linear-gradient(90deg, hsl(176, 68%, 64%) 100%, hsl(198, 60%, 50%));
  opacity: 0;
  z-index: -1;
  transition: opacity 0.2s;
}

.cta-line {
  position: relative;
  display: flex;
  color: hsl(176, 68%, 64%);
  text-decoration: none;
  line-height: 1.24em;
  border-bottom: 1px solid;
  padding-bottom: 0.3em;
  transition: color 0.2s;
}
.cta-line i {
  padding-left: 0.3em;
}
.cta-line:hover {
  color: hsl(0, 0%, 100%);
}

.flex-col-g1 {
  display: flex;
  flex-direction: column;
  row-gap: 1em;
}

.logo {
  display: flex;
  place-items: center;
}

.social-link {
  color: hsl(0, 0%, 85%);
  border: 1px solid;
  border-radius: 9999px;
  padding: 0.2em;
  transition: color 0.2s;
}
.social-link:hover {
  color: hsl(176, 68%, 64%);
}

.tile {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
  text-align: center;
}
.tile__img {
  height: 4.5rem;
  margin: 2em;
}

.testimonial {
  background-color: hsl(219, 30%, 18%);
  border-radius: 0.6em;
  padding: 2.4em 1.8em;
  display: flex;
  flex-direction: column;
  gap: 1.8em;
  font-size: 0.73em;
  color: #c7d0e1;
  box-shadow: 0px 0px 0px 4px rgba(32, 42, 60, 0.2);
}
.testimonial__author {
  display: grid;
  grid-template-columns: max-content 1fr;
  align-items: center;
  row-gap: 0.3em;
  -moz-column-gap: 0.8em;
       column-gap: 0.8em;
  grid-template-areas: "img name" "img desc";
  letter-spacing: 0.1em;
}
.testimonial__img {
  height: 2.5em;
  width: -moz-fit-content;
  width: fit-content;
  border-radius: 9999px;
  grid-area: img;
}
.testimonial__name {
  font-weight: 700;
  grid-area: name;
}
.testimonial__desc {
  font-size: 0.7em;
  grid-area: desc;
}

:root {
  --font-main: 400 1em Open Sans, sans-serif;
  --font-secondary: 400 1em Raleway, sans-serif;
}

html {
  box-sizing: border-box;
  font-size: 0.875rem;
}
html *,
html *::before,
html *::after {
  box-sizing: inherit;
}
html * {
  margin: 0;
  padding: 0;
}
html *.hidden {
  display: none;
}

body {
  font: var(--font-main);
}

h1 {
  font: 400 1em Raleway, sans-serif;
  font-size: 1.65em;
  font-weight: 700;
  line-height: 1.5;
}

h2 {
  font: 400 1em Raleway, sans-serif;
  font-size: 1.25em;
  font-weight: 700;
}

p {
  line-height: 1.6;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  width: 100%;
  -o-object-fit: scale-down;
     object-fit: scale-down;
}

input[type=text],
input[type=submit],
input[type=email] {
  border: none;
  border-radius: 9999px;
  min-height: 3.5rem;
  padding: 0 2em;
}

input::-moz-placeholder {
  opacity: 0.4;
}

input::placeholder {
  opacity: 0.4;
}

button {
  padding: 1em 3em;
  font: inherit;
}

.header {
  width: 100%;
  padding-top: 1.5rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  padding-bottom: 0.75rem;
  margin-bottom: 2rem;
  display: grid;
  grid-template-columns: 6rem 1fr;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
}
.header__nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: right;
  gap: 1.5em;
  text-align: center;
  font: var(--font-secondary);
  font-size: 0.9em;
  color: var(--color-secondary);
}
.header__nav a:hover {
  color: var(--color-main);
}

.footer {
  width: 100%;
  padding-top: 17rem;
  padding-right: 2rem;
  padding-left: 2rem;
  padding-bottom: 0.2em;
  background-color: var(--color-bg-footer);
  font-size: 1.1em;
  color: var(--color-secondary);
  display: grid;
  justify-items: start;
  row-gap: 2em;
  grid-template-areas: "logo" "contacts" "nav" "social";
}
.footer__logo {
  grid-area: logo;
  padding: 0.5em;
}
.footer__contacts {
  grid-area: contacts;
  flex-direction: column;
  display: flex;
  row-gap: 0.6em;
}
.footer__nav {
  grid-area: nav;
  display: flex;
  flex-direction: column;
  row-gap: 3em;
  padding-top: 3em;
  padding-bottom: 3em;
}
.footer__nav a:hover {
  color: var(--color-main);
}
.footer__social {
  justify-self: center;
  display: flex;
  gap: 0.75rem;
}

.fylo-landing {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-rows: auto auto auto;
  grid-template-columns: 100%;
  justify-items: center;
}
.fylo-landing__main {
  max-width: 80rem;
  padding-left: 1.8rem;
  padding-right: 1.8rem;
  display: grid;
  justify-items: center;
}
.fylo-landing__main > * {
  margin-top: 4rem;
  margin-bottom: 4rem;
}
.fylo-landing__main > *:nth-last-child(1) {
  margin-top: 0;
  margin-bottom: 0;
}
.fylo-landing__main > *:nth-last-child(2) {
  margin-bottom: 0;
}
.fylo-landing__article, .fylo-landing__article--form, .fylo-landing__article--left, .fylo-landing__article--center {
  padding-left: 0.8rem;
  padding-right: 0.8rem;
  width: 100%;
  display: grid;
  grid-template-rows: auto;
  justify-items: center;
  align-items: center;
  gap: 1.5em;
}
.fylo-landing__article img, .fylo-landing__article--form img, .fylo-landing__article--left img, .fylo-landing__article--center img {
  max-height: 50vh;
  margin: 1rem;
}
.fylo-landing__article__btn {
  margin-top: 1em;
  margin-bottom: 1em;
  min-width: 16rem;
}
.fylo-landing__article--center {
  text-align: center;
}
.fylo-landing__article--left {
  justify-items: left;
}
.fylo-landing__article--form {
  display: flex;
  flex-direction: column;
  gap: 1.4rem;
  background-color: hsl(217, 28%, 15%);
  padding: 2.4em 1.5em 1.6em 1.5em;
  border-radius: 0.8em;
  text-align: center;
  box-shadow: 3px 3px 6px 2px rgba(0, 0, 0, 0.2);
  position: relative;
  top: 50%;
}
.fylo-landing__article--form form {
  margin-top: 0.6rem;
  display: flex;
  flex-direction: column;
  align-content: center;
  gap: 0.8rem;
  width: 100%;
  max-width: 30rem;
}
.fylo-landing__article--form input {
  border: none;
  border-radius: 9999px;
  min-height: 3.5rem;
  padding: 0 2em;
  width: 100%;
}
.fylo-landing__tiles {
  display: grid;
  width: 80%;
  grid-template-columns: repeat(auto-fit, 20rem);
  justify-content: center;
  gap: 5em;
}
.fylo-landing__testimonials {
  display: flex;
  flex-direction: column;
  gap: 1.8rem;
  padding-top: 1.4em;
  padding-right: 2em;
  padding-left: 2em;
  background-image: url("/images/bg-quotes.png");
  background-repeat: no-repeat;
  background-origin: padding-box;
  background-size: 1.5em;
  background-position-x: 2em;
}

.fylo-dark {
  --color-main: hsl(0, 0%, 100%);
  --color-secondary: hsl(0, 0%, 85%);
  --color-bg-main: hsl(218, 28%, 13%);
  --color-bg-secondary: hsl(217, 28%, 15%);
  --color-bg-footer: hsl(216, 53%, 9%);
  position: relative;
  display: grid;
  color: var(--color-main);
  background-color: var(--color-bg-main);
  z-index: 1;
}
.fylo-dark::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  height: 52vh;
  background-color: var(--color-bg-secondary);
  background-image: url("../../images/bg-curvy-mobile.svg");
  background-position: bottom;
  background-size: 100%;
  background-repeat: no-repeat;
}
@media (min-width: 1440px) {
  .fylo-dark::after {
    height: 100vh;
    background-image: url("../../images/bg-curvy-desktop.svg");
  }
}/*# sourceMappingURL=main.css.map */