@use "../configs/colors";
@use "../configs/fonts";
@use "../utils/grids";
@use "../utils/screen";
@use "sass:color";

.fylo-landing {
	height: 100%;
	display: grid;
	grid-template-rows: auto auto auto;
	grid-template-columns: 100%;
	justify-items: center;

	&__header, &__main, &__footer > * {
		max-width: 1440px;
	}

	&__main {
		padding-left: 1.8rem;
		padding-right: 1.8rem;
		display: grid;
		justify-items: center;
		
		&__content {
			display: grid;
			justify-items: center;
			gap: 8rem;
		}

		&__form {
			position: relative;
			top: 50%;
		}
	}

	&__article {
		$article: &;
		padding-left: 0.8rem;
		padding-right: 0.8rem;
		@include grids.article-grid(&);
		row-gap: 1.5em;		

		img {
			max-height: 50vh;
			margin: 1rem;
		}

		&__btn {
			margin-top: 1em;
			margin-bottom: 1em;
		}

		&--center {
			@extend #{$article};
			grid-template-areas: 
			"image image image"
			"header header header"
			"content content content"
			". btn ."
			;
			text-align: center;
		}

		&--left {
			@extend #{$article};
			grid-template-areas: 
			"image"
			"header"
			"content"
			"cta"
			;
			justify-items: left;
		}
		
		&--form {
			@extend #{$article};
			$bg-color: colors.$bg-secondary-dark-blue;
			$shadow: 3px 3px 6px 2px color.adjust($bg-color, $lightness: -40%, $alpha: -0.8);
			display: flex;
			flex-direction: column;
			align-items: center;
			gap: 1.4rem;
			background-color: $bg-color;
			padding: 2.4em 1.5em 1.6em 1.5em;
			border-radius: .8em;
			text-align: center;
			box-shadow: $shadow;

			form {
				margin-top: 0.6rem;
				display: flex;
				flex-direction: column;
				align-content: center;
				align-items: stretch;
				gap: 0.8rem;
				width: 100%;
				max-width: 30rem
			}
		}
	}

	&__tiles {
		display: grid;
		width: 80%;
		grid-template-columns: repeat(auto-fit, 21rem);
		justify-content: center;
		gap: 5em;
	}

	&__testimonials {
		display: flex;
		flex-direction: column;
		gap: 1.8em;
		padding-top: 1.4em;
		padding-right: 2em;
		padding-left: 2em;

		background-image: url("./../images/bg-quotes.png");
		background-repeat: no-repeat;
		background-origin: padding-box;
		background-size: 1.5em;
		background-position-x: 2em;
	}

	@include screen.respond-to(large) {
		&__main {
			img {
				margin: 0;
				max-height: unset;
				width: unset;
			}
		}

		&__article--center {
			width: min-content;
			font-size: 1.5rem;
		
			p {
				padding-left: 2em;
				padding-right: 2em;
			}

			&__btn {
				margin: 0;
			}
		}

		&__article--left {
			max-width: 1200px;
			grid-template-areas:
				"image ."
				"image header"
				"image content"
				"image cta"
				"image ."
			;
			column-gap: 4rem;
			align-items: center;
			h2 {
				font-size: 2.75em;
				width: 75%;
			}
			
			p {
				font-size: 1.1em;
			}
		}

		&__tiles {
			width: 65%;
			font-size: 1.1em;
			grid-template-columns: 1fr 1fr;
			place-items: baseline;
			img {
				height: 100%;
			}			
		}

		&__testimonials {
			max-width: 1250px;
			font-size: 1.5em;
			background-size: 2.4em;
			background-position-x: 1.8em;
			display: grid;
			grid-template-columns: 1fr 1fr 1fr;
		}

		&__article--form {
			max-width: 875px;
			padding: 3.5rem 6rem 2rem 6rem;
			align-items: center;

			h2 {
				font-size: 2.2em;
			}

			p {
				padding-left: 1.5rem;
				padding-right: 1.5rem;
			}

			form {
				max-width: unset;
				flex-direction: row;
				align-items: center;
				column-gap: 2.4rem;
			}
		}
	}
}