@use "../configs/colors";
@use "../configs/fonts";
@use "../utils/shapes";
@use "sass:color";

.fylo-landing {
	width: 100%;
	height: 100%;
	display: grid;
	grid-template-rows: auto auto auto;
	grid-template-columns: 100%;
	justify-items: center;

	&__main {
		max-width: 80rem;
		padding-left: 1.8rem;
		padding-right: 1.8rem;
		display: grid;
		justify-items: center;
		row-gap: 8rem;
	}

	&__article {
		padding-left: 0.8rem;
		padding-right: 0.8rem;
		$article: &;
		width: 100%;
		display: grid;
		grid-template-rows: auto;
		justify-items: center;
		align-items: center;
		gap: 1.5em;

		img {
			max-height: 50vh;
			margin: 1rem;
		}

		&__btn {
			margin-top: 1em;
			margin-bottom: 1em;
			min-width: 16rem;
		}

		&--center {
			@extend #{$article};
			text-align: center;
		}

		&--left {
			@extend #{$article};
			justify-items: left;
		}
		
		&--form {
			$bg-color: colors.$bg-secondary-dark-blue;
			$shadow: 3px 3px 6px 2px color.adjust($bg-color, $lightness: -40%, $alpha: -0.8);
			@extend #{$article};
			display: flex;
			flex-direction: column;
			gap: 1.4rem;
			background-color: $bg-color;
			padding: 2.4em 1.5em 1.6em 1.5em;
			border-radius: .8em;
			text-align: center;
			box-shadow: $shadow;
			position: relative;
			top: 50%;

			form {
				margin-top: 0.6rem;
				display: flex;
				flex-direction: column;
				align-content: center;
				gap: 0.8rem;
				width: 100%;
				max-width: 30rem
			}
			
			input {
				@include shapes.input-line;
				width: 100%;
			}
		}
	}

	&__tiles {
		display: grid;
		width: 80%;
		grid-template-columns: repeat(auto-fit, 20rem);
		justify-content: center;
		gap: 5em;
	}

	&__testimonials {
		display: flex;
		flex-direction: column;
		gap: 1.8rem;
		padding: 2em;
	}
}