@use "../configs/colors";

.cta-line {
	position: relative;
	display: flex;
	color: colors.$cyan;
	text-decoration: none;
	border-bottom: 1px solid;
	padding-bottom: 0.3em;
	transition: color .2s;

	i {
		padding-left: 0.3em;
	}

	&:hover {
		color: colors.$white;
	}
}