@use "../utils/screen";
@use "../utils/shapes";

.input-container {
	--inputs-padding: 0 1.3em;
	
	width: 100%;
	position: relative;

	&__input {
		@include shapes.input-line();
		padding: var(--inputs-padding);
		width: 100%;
		height: 100%;
	}

	&.invalid::after {
		color: var(--color-error);
		content: attr(data-error);
		display: block;
		position: absolute;
		padding: var(--inputs-padding);
	}

	@include screen.respond-to(large){
		--inputs-padding: 0 2.5em;
	}
}