@use "../configs/colors";
@use "sass:color";

.testimonial {
	//vars
	$bg-color: colors.$bg-testimonials-dark-blue;
	$font-color: color.adjust($bg-color, $lightness: 65%);
	$shadow: 0px 0px 0px 4px color.adjust($bg-color, $alpha: -0.8);

	background-color: $bg-color;
	border-radius: .6em;
	padding: 2.4em 1.8em;
	display: flex;
	flex-direction: column;
	gap: 1.8em;
	font-size: 0.73em;
	color: $font-color;
	-webkit-box-shadow: $shadow;
	-moz-box-shadow: $shadow;
	box-shadow: $shadow;
	
	&__author {
		display: grid;
		grid-template-columns: max-content 1fr;
		align-items: center;
		row-gap: .3em;
		column-gap: .8em;
		grid-template-areas: 
		"img name"
		"img desc";
		letter-spacing: 0.1em;
	}

	&__img {
		height: 2.5em;
		width: fit-content;
		border-radius: 9999px;
		grid-area: img;
	}

	&__name {
		font-weight: 700;
		grid-area: name;
	}

	&__desc {
		font-size: 0.7em;
		grid-area: desc;
	}
}