@use "../configs/colors";
@use "../configs/fonts";

:root {
    --font-main: #{fonts.$main};
    --font-secondary: #{fonts.$secondary};
    --color-error: #{colors.$lightRed};
    --inputs-padding: 0 1.3em;
}

html {
	box-sizing: border-box;
	font-size: 0.875rem;

    *,
    *::before,
    *::after {
        box-sizing: inherit;
    }

    * {
        margin: 0;
        padding: 0;

        &.hidden {
            display: none;
        }
    }
}