@use "../configs/colors";
@use "../configs/fonts";

body {
	font: fonts.$main;
	color: colors.$white;
	width: 100%;
	background-color: colors.$bg-main-dark-blue;

	.main-wrapper {
		position: relative;
	}
}