@use "../configs/colors";
@use "../utils/screen";

.fylo-dark {
	--color-main: #{colors.$white};
	--color-secondary: #{colors.$white-grey};
	--color-bg-main: #{colors.$bg-main-dark-blue};
	--color-bg-secondary: #{colors.$bg-secondary-dark-blue};
	--color-bg-footer: #{colors.$bg-footer-dark-blue};

	font: var(--font-main);

	position: relative;
	display: grid;
	color: var(--color-main);
	background-color: var(--color-bg-main);
	z-index: 1;

	&::after {
		content: "";
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		z-index: -1;

		@include screen.respond-to("medium") {
			height: 52vh;
			background-color: var(--color-bg-secondary);
			background-image: url("../../images/bg-curvy-mobile.svg");
			background-position: bottom;
			background-size: 100%;
			background-repeat: no-repeat;
		}

		@include screen.respond-to("large") {
			height: 100vh;
			background-image: url("../../images/bg-curvy-desktop.svg");
		}
	}
}