@use "../configs/colors";
@use "../utils/screen";

.fancy-background {
	position: absolute;
	z-index: -1;
	height: 56vh;
	width: 100vw;
	background-color: colors.$bg-secondary-dark-blue;
	background-image: url("../../images/bg-curvy-mobile.svg");
	background-position: bottom;
	background-size: 100%;
	background-repeat: no-repeat;

	@include screen.respond-to("desktop") {
		height: 100vh;
		background-image: url("../../images/bg-curvy-desktop.svg");
	}
}