@use "../utils/screen";

.footer {
	width: 100%;
	padding-top: 17rem;
	padding-right: 2rem;
	padding-left: 2rem;
	padding-bottom: 0.2em;
	background-color: var(--color-bg-footer);
	font-size: 1.1em;
	color: var(--color-secondary);
	display: grid;
	justify-items: start;
	align-items: start;
	gap: 2em;
	grid-template-areas:
		"logo"
		"contacts"
		"nav"
		"social"
		"attribution";

	&__logo {
		grid-area: logo;
		padding: .5em;
	}

	&__contacts {
		grid-area: contacts;
		display: grid;
		align-items: start;
		
		row-gap: .6em;
		&--pin {
			grid-area: 
			pin; 
			align-items: start;
			img {padding: .5em 0}
		}
		&--phone {grid-area: phone}
		&--email {grid-area: email}
		grid-template-areas:
		"pin"
		"phone"
		"email";
	}

	&__nav {
		grid-area: nav;
		display: flex;
		flex-direction: column;
		gap: 3em;
		padding-top: 3em;
		padding-bottom: 3em;

		a:hover {
			color: var(--color-main);
		}
	}

	&__social {
		grid-area: social;
		justify-self: center;
		display: flex;
		place-items: center;
		gap: .75rem;
	}

	&__attribution {
		grid-area: attribution;
	}

	@include screen.respond-to(large) {
		padding-left: 8rem;
		padding-right: 4rem;
		grid-template-columns: minmax(min-content, 52%) max-content max-content;
		column-gap: 8rem;
		justify-content: space-between;
		grid-template-rows: min-content;
		grid-template-areas:
			"logo logo logo"
			"contacts nav social"
			"attribution attribution attribution";

		&__contacts {
			height: min-content;
			flex-wrap: wrap;
			column-gap: 6rem;
			grid-template-areas: 
			"pin phone"
			"pin email";
		}

		&__nav {
			flex-direction: row;
			column-gap: 6rem;
			padding: 0;
		}

		&__social {
			gap: 1rem;
			font-size: 1.1em;
		}

		&__attribution {
			padding-top: 4rem;
		}
	}
}